/* HEADER */

header nav{
    background-color: #bfdbea;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

nav .avatar img{
    margin-left: 20px;
}
nav .menu{
    margin-right: 30px;
}
nav .menu ul li{
    display: inline;
    margin:0 30px;
}
nav .menu ul li a{
    text-decoration: none;
    color: #1a519e;
    font-weight: bold;
}
nav .menu button{
    outline: none;
    background: none;
    border: none;
    font-size: 18px;
    color: #1a519e;
    border: 1.5px solid #1a519e;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

/* SECTION  */
.haut{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.bas{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 50px;
}

.image404{
    margin-left: 21%;
}

.button{

    width: 400px;
    background-color: #1078ad;
    color: white;
    font-size: 32px;
    border: none;
    font-weight: bold;
    height: 80px;
    border-radius: 10px;
}

.titre{
    text-align: center;
    color: #1078ad;
    font-size: 50px;
    font-weight: bold;
}

