/*HEADER*/

header nav {
    background-color: #bfdbea;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .avatar img {
    margin-left: 20px;
}

nav .menu {
    margin-right: 30px;
}

nav .menu ul li {
    display: inline;
    margin: 0 30px;
}

nav .menu ul li a {
    text-decoration: none;
    color: #1a519e;
    font-weight: bold;
}

nav .menu button {
    outline: none;
    background: none;
    border: none;
    font-size: 18px;
    color: #1a519e;
    border: 1.5px solid #1a519e;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

nav .menu input {
    outline: none;
    background: none;
    border: none;
    font-size: 18px;
    color: #1a519e;
    border: 1.5px solid #1a519e;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}


/* PROGRESS BAR */

.barre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    margin-left: 330px;
}

ul.progress_bar {
    max-width: 45em;
    width: 100%;
    padding: 0 18px;
    height: 2em;
    margin: 0;
    padding: 0;
    font-size: 17px;
}

ul.progress_bar li {
    width: 25%;
    float: left;
    height: 100%;
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
}

ul.progress_bar li span {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #2a6339;
    height: .4em;
    z-index: 1;
}

ul.progress_bar li.activated:before {
    background: #f0cf4b;
    border: 0.3em solid #91b6d0;
    box-sizing: border-box;
    width: 4em;
    height: 4em;
    top: -16px;
    border-width: 26px;
}

ul.progress_bar li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: #3278a9;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    z-index: 2;
}

ul.progress_bar li:last-child:after {
    content: '';
    display: block;
    position: absolute;
    right: -2em;
    top: 0;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    z-index: 2;
}

.texte {
    font-size: 15px;
    font-weight: bold;
    margin-top: 58px;
    margin-left: -22px;
}


/* PREAMBULE */

.informations {
    background-color: #96C5DC;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
    /*margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;*/
    margin: 50px auto;
    text-align: center;
    border-radius: 10px;
}

.titletext {
    color: #1078AD;
    font-size: 32px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.line {
    width: 400px;
    background-color: #f0cf4b;
    height: 2px;
    border-color: transparent;
}

.demarrer {
    margin-top: 50px;
    text-align: center;
}

.button {
    width: 350px;
    background-color: #1078ad;
    color: white;
    font-size: 32px;
    border: none;
    font-weight: bold;
    height: 70px;
    border-radius: 5px;
}

.infotext {
    font-size: 20px;
    line-height: 27px;
    margin: 15px 15px 15px 15px;
}


/* RECOMMENDATIONS */

#recommandations {
    width: 100%;
    min-height: 600px;
    background-color: #1078ad;
    margin-top: 100px;
    padding-top: 40px;
}

#recommandations #titel {
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    color: gainsboro;
}

#recommandations .recomds {
    display: flex;
    margin-top: 70px;
    align-items: center;
    padding-bottom: 30px;
}

#recommandations .recomds-item {
    width: 50%;
}

.recomds-item #back {
    color: black;
}

.recomds-item p {
    color: white;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.8;
    margin-left: 50px;
}

.recomds-item h2 {
    color: #f4cf1b;
    font-size: 33px;
    font-weight: bold;
    line-height: 2;
    text-align: center;
}

.recomds-item #number {
    color: #1078ad;
    background-color: #f4cf1b;
    width: 255px;
    padding: 10px 0;
    border-radius: 10px;
    margin: 0 auto;
}

.recomds-item .sante a {
    color: white;
    font-size: 28px;
    text-decoration-color: #f4cf1b;
    text-underline-offset: 3px;
}

.test-reminder {
    background-color: #bfdbea;
    min-height: 300px;
    width: 100%;
}

.test-reminder h1 {
    text-align: center;
    color: #1078ad;
    padding-top: 30px;
    font-size: 33px;
}

.test-reminder img,
button {
    margin: 0 auto;
    display: block;
    margin-top: 30px;
}

.test-reminder button {
    outline: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    background-color: #1078ad;
    width: 50%;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}


/*FOOTER*/

footer {
    margin-top: 50px;
    padding-bottom: 100px;
}

footer img {
    display: block;
    margin: 0 auto;
}

footer .footer {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

footer .footer .parag,
.navigation,
.conract {
    width: 30%;
}

.navigation ul li {
    margin-left: 100px;
    list-style: none;
    margin-top: 30px;
}

.navigation ul li a {
    text-decoration: none;
    color: #1a519e;
    font-weight: bold;
    font-size: 25px;
}

.navigation ul li input {
    outline: none;
    background: none;
    border: none;
    font-size: 18px;
    color: #1a519e;
    border: 1.5px solid #1a519e;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.footer .contact {
    text-align: center;
    line-height: 2;
    font-size: 25px;
}

.footer .contact h3 {
    color: #1078ad;
}

.footer .nbrs {
    color: green;
    font-weight: bold
}

.footer .parag {
    margin: auto auto;
    line-height: 1.9;
    color: gray;
    font-size: 20px;
    text-align: justify;
}

#fox {
    width: 100%;
    background-color: #1078ad;
    height: 40px;
}

#fox h4 {
    color: white;
    text-align: center;
}


/* BARRE FOOTER */

#fox {
    width: 100%;
    background-color: #1078ad;
    height: 40px;
}

#fox h4 {
    color: white;
    text-align: center;
}


/*RESPONSIVE*/

@media screen and (min-width: 320px) and (max-width: 425px) {
    .barre {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 100px;
        margin-left: 100px;
    }
    ul.progress_bar {
        max-width: 30em;
        width: 100%;
        padding: 0 18px;
        height: 2em;
        margin: 0;
        padding: 0;
        font-size: 17px;
    }
    ul.progress_bar li {
        width: 25%;
        float: left;
        height: 100%;
        list-style: none;
        position: relative;
        margin: 0;
        padding: 0;
    }
    ul.progress_bar li span {
        position: absolute;
        display: block;
        top: -16px;
        bottom: 0;
        left: 12px;
        right: 0;
        margin: auto;
        background: #2a6339;
        height: .4em;
        z-index: 1;
        width: 120%;
    }
    ul.progress_bar li.activated:before {
        background: #f0cf4b;
        border: 0.3em solid #91b6d0;
        box-sizing: border-box;
        width: 40px;
        left: -10px;
        height: 40px;
        top: -16px;
        border-width: 12px;
    }
    ul.progress_bar li:before {
        content: '';
        display: block;
        position: absolute;
        left: 10px;
        top: 0;
        background: #3278a9;
        width: 1em;
        height: 1em;
        border-radius: 2em;
        z-index: 2;
    }
    ul.progress_bar li:last-child:after {
        content: '';
        display: block;
        position: absolute;
        right: -2em;
        top: 0;
        width: 2em;
        height: 2em;
        border-radius: 2em;
        z-index: 2;
    }
    .texte {
        font-size: 8px;
        font-weight: bold;
        margin-top: 30px;
        margin-left: -10px;
    }
    .informations {
        background-color: #96C5DC;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 50px;
        text-align: center;
        border-radius: 10px;
    }
    .titletext {
        color: #1078AD;
        font-size: 23px;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    .line {
        width: 200px;
        background-color: #f0cf4b;
        height: 3px;
        border-color: transparent;
    }
    .demarrer {
        margin-top: 50px;
        text-align: center;
    }
    .button {
        width: 270px;
        background-color: #1078ad;
        color: white;
        font-size: 25px;
        border: none;
        font-weight: bold;
        height: 60px;
        border-radius: 5px;
        margin-bottom: 30px;
    }
    .infotext {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (min-width: 425px) and (max-width: 1023px) {
    .barre {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 100px;
        margin-left: 130px;
    }
    ul.progress_bar {
        max-width: 40em;
        width: 100%;
        padding: 0 18px;
        height: 2em;
        margin: 0;
        padding: 0;
        font-size: 17px;
    }
    ul.progress_bar li {
        width: 25%;
        float: left;
        height: 100%;
        list-style: none;
        position: relative;
        margin: 0;
        padding: 0;
    }
    ul.progress_bar li span {
        position: absolute;
        display: block;
        top: -16px;
        bottom: 0;
        left: 12px;
        right: 0;
        margin: auto;
        background: #2a6339;
        height: .4em;
        z-index: 1;
        width: 120%;
    }
    ul.progress_bar li.activated:before {
        background: #f0cf4b;
        border: 0.3em solid #91b6d0;
        box-sizing: border-box;
        width: 40px;
        left: -10px;
        height: 40px;
        top: -16px;
        border-width: 12px;
    }
    ul.progress_bar li:before {
        content: '';
        display: block;
        position: absolute;
        left: 10px;
        top: 0;
        background: #3278a9;
        width: 1em;
        height: 1em;
        border-radius: 2em;
        z-index: 2;
    }
    ul.progress_bar li:last-child:after {
        content: '';
        display: block;
        position: absolute;
        right: -2em;
        top: 0;
        width: 2em;
        height: 2em;
        border-radius: 2em;
        z-index: 2;
    }
    .texte {
        font-size: 12px;
        font-weight: bold;
        margin-top: 30px;
        margin-left: -10px;
    }
    .informations {
        background-color: #96C5DC;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 50px;
        text-align: center;
        border-radius: 10px;
    }
    .titletext {
        color: #1078AD;
        font-size: 28px;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    .line {
        width: 230px;
        background-color: #f0cf4b;
        height: 3px;
        border-color: transparent;
    }
    .demarrer {
        margin-top: 50px;
        text-align: center;
    }
    .button {
        width: 300px;
        background-color: #1078ad;
        color: white;
        font-size: 29px;
        border: none;
        font-weight: bold;
        height: 70px;
        border-radius: 7px;
        margin-bottom: 30px;
    }
    .infotext {
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .barre {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 100px;
        margin-left: 220px;
    }
    ul.progress_bar li:before {
        content: '';
        display: block;
        position: absolute;
        left: 30px;
        top: 0;
        background: #3278a9;
        width: 1em;
        height: 1em;
        border-radius: 2em;
        z-index: 2;
    }
}

@media screen and (min-width: 1024px) {
    ul.progress_bar {
        max-width: 40em;
        width: 100%;
        padding: 0 18px;
        height: 2em;
        margin: 0;
        padding: 0;
        font-size: 17px;
    }
    ul.progress_bar li {
        width: 25%;
        float: left;
        height: 100%;
        list-style: none;
        position: relative;
        margin: 0;
        padding: 0;
    }
    ul.progress_bar li span {
        position: absolute;
        display: block;
        top: -16px;
        bottom: 0;
        left: 12px;
        right: 0;
        margin: auto;
        background: #2a6339;
        height: .4em;
        z-index: 1;
        width: 120%;
    }
    ul.progress_bar li.activated:before {
        background: #f0cf4b;
        border: 0.3em solid #91b6d0;
        box-sizing: border-box;
        width: 40px;
        left: -10px;
        height: 40px;
        top: -16px;
        border-width: 12px;
    }
    ul.progress_bar li:before {
        content: '';
        display: block;
        position: absolute;
        left: 30px;
        top: 0;
        background: #3278a9;
        width: 1em;
        height: 1em;
        border-radius: 2em;
        z-index: 2;
    }
    ul.progress_bar li:last-child:after {
        content: '';
        display: block;
        position: absolute;
        right: -2em;
        top: 0;
        width: 2em;
        height: 2em;
        border-radius: 2em;
        z-index: 2;
    }
    .texte {
        font-size: 17px;
        font-weight: bold;
        margin-top: 30px;
        margin-left: -25px;
    }
    .informations {
        padding: 8px;
    }
}

.questionv2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
    /*margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;*/
    margin: 50px auto;
    text-align: center;
    border-radius: 10px;
}

.hide {
    display: none !important;
}

.les_qsts {
    width: 100%;
    margin-top: 70px;
    height: 300px;
}

.demarrer {
    margin-top: 50px;
    text-align: center;
}

.questions {
    display: none;
}

.start {
    display: none;
}